In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Normalizer
import urllib.request
import warnings 
warnings.simplefilter('ignore')
import plotly.express as px
%matplotlib inline

In [30]:
# reading Taz_Yeshuv_250_mapping
def reading_town_code_to_taz_mapper():
    town_code_to_taz_mapper =  pd.read_excel(r'/Users/yotamdery/Old Desktop/git/health_data_mapping/Taz_Yeshuv_250_mapping.xlsx',engine= 'openpyxl', header= 3, usecols= 'A, Q:AF')
    #town_code_to_taz_mapper.columns = ['taz_id','town_code','population']
    town_code_to_taz_mapper = town_code_to_taz_mapper.iloc[:2630]
    return town_code_to_taz_mapper

In [38]:
taz_ages_pop = reading_town_code_to_taz_mapper()

In [39]:
# Merging columns to match the SEIR model's age-groups:
taz_ages_pop['10-19'] = taz_ages_pop['10-14'] + taz_ages_pop['age_19-15']
taz_ages_pop['20-29'] = taz_ages_pop['20-24'] + taz_ages_pop['25-29']
taz_ages_pop['30-39'] = taz_ages_pop['30-34'] + taz_ages_pop['35-39']
taz_ages_pop['40-49'] = taz_ages_pop['40-44'] + taz_ages_pop['45-49']
taz_ages_pop['50-59'] = taz_ages_pop['50-54'] + taz_ages_pop['55-59']
taz_ages_pop['60-69'] = taz_ages_pop['60-64'] + taz_ages_pop['65-69']
taz_ages_pop['70+'] = taz_ages_pop['70-74'] + taz_ages_pop['75+']

In [42]:
# Dropping old columns and renaming for 'taz'
taz_ages_pop.drop(columns= taz_ages_pop.columns[3:17], axis= 1, inplace= True)
taz_ages_pop.rename(columns= {'Unnamed: 0' : 'taz'}, inplace= True)

In [50]:
# Adding 'population' prefix for the age-group columns:
new_columns_names_list = ['taz']
for column in taz_ages_pop.columns[1:]:
    new_columns_names_list.append('population_' + column)
taz_ages_pop.columns = new_columns_names_list

In [51]:
taz_ages_pop

,taz,population_0-4,population_5-9,population_10-19,population_20-29,population_30-39,population_40-49,population_50-59,population_60-69,population_70+
0,1,389.0,413.0,1180.0,719.0,269.0,373.0,419.0,178.0,68.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,108.0,92.0,120.0,94.0,161.0,162.0,118.0,167.0,152.0
...,...,...,...,...,...,...,...,...,...,...
2625,2626,2086.0,1739.0,2920.0,2094.0,1159.0,889.0,435.0,233.0,143.0
2626,2627,1196.0,1069.0,1953.0,1359.0,794.0,647.0,286.0,125.0,113.0
2627,2628,2437.0,2118.0,3834.0,2739.0,1559.0,1211.0,583.0,280.0,185.0
2628,2629,1937.0,1899.0,3262.0,3365.0,3375.0,3309.0,2547.0,1774.0,1136.0
2629,2630,2415.0,2143.0,3334.0,2591.0,2387.0,1766.0,1338.0,777.0,576.0

In [54]:
# reading taz2county_id file
taz2county_id =  pd.read_excel(r'/Users/yotamdery/Old Desktop/git/SEIR_model_covid_yotams copy/Data/division_choice/30/taz2county_id.xlsx',engine= 'openpyxl')

In [56]:
taz_county_df = taz_ages_pop.merge(town_code_to_taz_mapper, how= 'inner', left_on= 'taz', right_on= 'taz_id')

In [64]:
taz_county_df

,taz,population_0-4,population_5-9,population_10-19,population_20-29,population_30-39,population_40-49,population_50-59,population_60-69,population_70+,taz_id,cell_id
0,1,389.0,413.0,1180.0,719.0,269.0,373.0,419.0,178.0,68.0,1,4400
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,5103
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,5103
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5103
4,5,108.0,92.0,120.0,94.0,161.0,162.0,118.0,167.0,152.0,5,5103
...,...,...,...,...,...,...,...,...,...,...,...,...
2625,2626,2086.0,1739.0,2920.0,2094.0,1159.0,889.0,435.0,233.0,143.0,2626,6202
2626,2627,1196.0,1069.0,1953.0,1359.0,794.0,647.0,286.0,125.0,113.0,2627,6202
2627,2628,2437.0,2118.0,3834.0,2739.0,1559.0,1211.0,583.0,280.0,185.0,2628,6202
2628,2629,1937.0,1899.0,3262.0,3365.0,3375.0,3309.0,2547.0,1774.0,1136.0,2629,6200
2629,2630,2415.0,2143.0,3334.0,2591.0,2387.0,1766.0,1338.0,777.0,576.0,2630,6200

In [70]:
res = taz_county_df.groupby('cell_id', as_index= False).agg(sum).drop('taz_id', axis= 1)

In [77]:
res

,county_id,population_0-4,population_5-9,population_10-19,population_20-29,population_30-39,population_40-49,population_50-59,population_60-69,population_70+
0,1100,85139.0,79836.0,138688.0,117076.0,93046.0,75600.0,58960.0,47663.0,46878.0
1,1101,37139.0,30580.0,53891.0,42732.0,26275.0,17149.0,16116.0,14252.0,15041.0
2,1103,19994.0,17726.0,25505.0,16342.0,13271.0,9463.0,5871.0,3662.0,2833.0
3,2100,13371.0,12516.0,22347.0,20757.0,15726.0,14556.0,13054.0,10756.0,9193.0
4,2200,9129.0,8358.0,15664.0,14385.0,10916.0,10472.0,9461.0,8364.0,6938.0
5,2202,2025.0,2073.0,4305.0,4362.0,3339.0,2725.0,2037.0,1081.0,738.0
6,2300,30301.0,29715.0,55679.0,48173.0,40838.0,41819.0,34445.0,29335.0,25062.0
7,2302,14838.0,14951.0,31764.0,26555.0,18582.0,18109.0,14029.0,7591.0,5414.0
8,2400,24348.0,24776.0,47636.0,42047.0,37360.0,38446.0,32883.0,28709.0,24009.0
9,2402,32992.0,33352.0,71575.0,58996.0,44137.0,42033.0,30856.0,15720.0,11332.0
10,2900,4596.0,4913.0,9624.0,7193.0,6681.0,6549.0,4506.0,3537.0,2003.0
11,3100,43893.0,39684.0,68771.0,74884.0,74671.0,65885.0,59218.0,64742.0,71212.0
12,3102,2782.0,2827.0,6009.0,5279.0,4902.0,4736.0,3586.0,2300.0,1586.0
13,3200,28248.0,28536.0,50366.0,39480.0,39506.0,39433.0,30040.0,24680.0,20866.0
14,3202,10951.0,11463.0,24802.0,18698.0,13275.0,13052.0,9604.0,4762.0,3132.0
15,4100,34261.0,34727.0,60447.0,48219.0,48792.0,52350.0,39678.0,37686.0,37600.0
16,4102,8155.0,8758.0,18172.0,13068.0,9504.0,10308.0,7564.0,3670.0,2608.0
17,4200,59564.0,56729.0,94032.0,75064.0,83453.0,88986.0,64872.0,65767.0,61220.0
18,4201,7699.0,8469.0,13443.0,4682.0,6238.0,4075.0,1513.0,760.0,404.0
19,4202,2922.0,2806.0,5986.0,4813.0,3037.0,2997.0,2098.0,931.0,609.0
20,4300,30133.0,30823.0,54124.0,39808.0,38449.0,42231.0,30957.0,23443.0,18591.0
21,4400,56922.0,54496.0,92370.0,78721.0,83252.0,84593.0,62789.0,63454.0,54237.0
22,5100,62303.0,57527.0,93439.0,90472.0,117062.0,104294.0,78542.0,83180.0,95924.0
23,5101,33280.0,26464.0,41871.0,32749.0,22663.0,13500.0,10884.0,10598.0,9585.0
24,5103,34305.0,26416.0,39887.0,62528.0,93481.0,58361.0,40429.0,40982.0,47312.0
25,6100,53660.0,47675.0,79953.0,74226.0,67951.0,59385.0,54801.0,49003.0,47302.0
26,6200,47531.0,42679.0,72965.0,71378.0,62927.0,55013.0,48625.0,42596.0,38021.0
27,6202,31105.0,27400.0,47643.0,31543.0,19891.0,14702.0,7850.0,4243.0,2953.0
28,7100,34005.0,32488.0,47692.0,39135.0,32863.0,25362.0,19895.0,15326.0,8813.0
29,7101,30301.0,27981.0,35575.0,18534.0,17224.0,10768.0,4428.0,2083.0,1106.0

In [73]:
res.rename(columns= {'cell_id' : 'county_id'}, inplace= True)

In [76]:
res.to_csv('population_per_county_age-group.csv', index= False)