In [1]:
import numpy as np
import pandas as pd
import pickle
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Normalizer
import itertools
import warnings 
warnings.simplefilter('ignore')
import plotly.express as px
%matplotlib inline

In [2]:
# Display format
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [3]:
# Reading files:
xxx = pd.read_excel(r'/Users/yotamdery/Old Desktop/git/SEIR_model_covid_yotams/Data/division_choice/30/taz2cell.xlsx',engine='openpyxl') 
mapping_250_30_string = pd.read_excel(r'/Users/yotamdery/Old Desktop/git/Covid_data_investigation/cell250_to_cell30.xlsx',engine='openpyxl')
mapping_30str_to_30int = mapping_taz_250 = pd.read_excel(r'county_int_2name_county_string.xlsx',engine='openpyxl')

In [4]:
taz_to_30_string = xxx.merge(mapping_250_30_string)

In [5]:
taz_to_30_int = taz_to_30_string.merge(mapping_30str_to_30int, left_on= '30_county', right_on= 'county_string_id')

In [6]:
taz_to_30_int.sort_values('cell_id')

,taz_id,cell_id,30_county,county_id,cell_name,county_string_id
1206,1216,2000001,11,1100,Jerusalem generall w/o bet shemesh,11
1201,1139,2000001,11,1100,Jerusalem generall w/o bet shemesh,11
1202,1140,2000001,11,1100,Jerusalem generall w/o bet shemesh,11
1203,1141,2000001,11,1100,Jerusalem generall w/o bet shemesh,11
1204,1142,2000001,11,1100,Jerusalem generall w/o bet shemesh,11
...,...,...,...,...,...,...
1458,1325,2000250,71,7100,Shomron generall,71
1459,1326,2000250,71,7100,Shomron generall,71
1461,1337,2000250,71,7100,Shomron generall,71
1456,1323,2000250,71,7100,Shomron generall,71
1454,1321,2000250,71,7100,Shomron generall,71

In [7]:
final_mapping = taz_to_30_int.drop('county_string_id', axis= 1).sort_values('taz_id')

In [8]:
final_mapping.to_excel('taz_to_250_to_county_id.xlsx', index= False)

# Reading Shahaf's pickle file - aggregate every df to be 30 counties:

In [9]:
shahafs_pickle = pd.read_pickle(r'../250/mat_macro_model_df.pickle')

In [10]:
shahafs_pickle.keys()

dict_keys([('no_work', 0), ('no_work', 1), ('no_work', 2), ('no_100_meters', 0), ('no_100_meters', 1), ('no_100_meters', 2), ('no_bb', 0), ('no_bb', 1), ('no_bb', 2), ('routine', 0), ('routine', 1), ('routine', 2), ('no_school', 0), ('no_school', 1), ('no_school', 2), ('full_lockdown', 0), ('full_lockdown', 1), ('full_lockdown', 2), ('release', 0), ('release', 1), ('release', 2), ('back2routine', 0), ('back2routine', 1), ('back2routine', 2)])

In [11]:
shahafs_pickle[('no_work', 0)]

,2000001,2000002,2000003,2000004,2000005,2000006,2000007,2000008,2000009,2000010,...,2000241,2000242,2000243,2000244,2000245,2000246,2000247,2000248,2000249,2000250
2000001,0.9698,0.0005,0.0003,0.0004,0.0002,0.0011,0.0008,0.0007,0.0005,0.0018,...,0.0001,0.0002,0.0007,0.0003,0.0000,0.0065,0.0001,0.0000,0.0000,0.0001
2000002,0.0002,0.9760,0.0013,0.0007,0.0003,0.0006,0.0001,0.0010,0.0012,0.0009,...,0.0002,0.0001,0.0004,0.0043,0.0001,0.0003,0.0001,0.0000,0.0000,0.0009
2000003,0.0002,0.0016,0.9723,0.0006,0.0003,0.0008,0.0001,0.0009,0.0008,0.0016,...,0.0001,0.0000,0.0012,0.0021,0.0000,0.0012,0.0000,0.0000,0.0000,0.0002
2000004,0.0005,0.0025,0.0013,0.9756,0.0001,0.0025,0.0002,0.0007,0.0008,0.0007,...,0.0001,0.0000,0.0009,0.0012,0.0000,0.0009,0.0000,0.0000,0.0000,0.0001
2000005,0.0004,0.0013,0.0011,0.0002,0.9794,0.0013,0.0007,0.0005,0.0013,0.0011,...,0.0002,0.0002,0.0003,0.0007,0.0000,0.0008,0.0000,0.0000,0.0000,0.0002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000246,0.0008,0.0001,0.0003,0.0001,0.0001,0.0005,0.0004,0.0001,0.0001,0.0002,...,0.0000,0.0007,0.0008,0.0005,0.0000,0.9868,0.0001,0.0000,0.0000,0.0000
2000247,0.0000,0.0001,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0001,0.0000,0.0001,0.0012,0.0012,0.0000,0.9849,0.0009,0.0000,0.0000
2000248,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0001,0.0000,0.0000,0.0002,0.0022,0.0000,0.0037,0.9727,0.0015,0.0000
2000249,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0002,0.0000,0.0000,0.0001,0.0028,0.0000,0.0005,0.0038,0.9622,0.0000
2000250,0.0001,0.0027,0.0004,0.0001,0.0001,0.0001,0.0000,0.0015,0.0015,0.0017,...,0.0018,0.0001,0.0003,0.0056,0.0002,0.0002,0.0001,0.0000,0.0000,0.9707

In [12]:
df_250 = shahafs_pickle[('no_work', 0)]

In [13]:
# Creating a mapper between 250 regions to the counties:
mapper_250_county = final_mapping[~final_mapping[['cell_id', 'county_id']].duplicated()][['cell_id', 'county_id']].sort_values(by= 'cell_id')

In [14]:
# Creating a dictionary that holds: for each county, what regions are mapped to it:
df_to_dict = mapper_250_county.pivot(index= 'cell_id', columns= 'county_id', values= 'cell_id')

In [15]:
# A function to perform the operation of dictionary creation - taking the pivoted df and iterates on each column
# This function isn't in the main function (as it should be applied only once)
def mapper_250_county_to_dictionary(df):
    dict_county_250 = {}
    for column in df.columns:
        dict_county_250[column] = list(df[df[column].isna() == False][column].values)
    return dict_county_250
        
dict_county_250 = mapper_250_county_to_dictionary(df_to_dict)

<b> Initializing an empty DataFrame to fill along the way - size: 30X30

In [16]:
def initialize_empty_df(final_mapping):
    initial_df_30 = pd.DataFrame(index= sorted(set(final_mapping['county_id'])), columns= sorted((set(final_mapping['county_id']))))
    return initial_df_30

In [17]:
# Update the values of the diagonal of the *initial DataFrame!*
# First function is ment only to turn 'initial_df_30' to be global, so the inner function will be able to use it without
# actually receive it as input
def update_diagonal(merged, x):
    global initial_df_30
    initial_df_30 = x
    
    # This function updates the values of the diagonal of the *initial DataFrame!* (== 'initial_df_30')
    def update_diagonal_2(df):
        diagonal_value = df.loc[ : , list(df['index'])].to_numpy().sum()           # Slicing the df to get the relevant matrix, then summing on all of it
        initial_df_30.loc[df['county_id'].iloc[0], df['county_id'].iloc[0]] = diagonal_value    # inserting the value in the right place in the matrix     

    merged.groupby(by= 'county_id').apply(update_diagonal_2)    # Activating the function here

<b> Now, we'd like to update the rows:

In [18]:
def update_rows(df, initial_df_30, dict_county_250):                   
    df.set_index('index', inplace= True)    # Setting the index column back to be the index of the merged DataFrame
    for i in range(30):                 # iterating on the initial df to update it. it has 30 rows and columns (as amount of counties)
        for j in range(30):
            if i == j:           # We already considered this case when filling the diagonal of the initial matrix
                continue
                
            else:                 # Creating a DF that holds the travels from regions i (one county) to regions j (another county)
                specific_cell_value = df.loc[list(dict_county_250.values())[i] , list(dict_county_250.values())[j]].to_numpy().sum()     # Choosing the relevant rows and columns
                initial_df_30.loc[list(dict_county_250.keys())[i] , list(dict_county_250.keys())[j]] = specific_cell_value            # Update the value of the cell in the right place in the initial df
#update_rows(merged)

<b> Normalizing the rows:

In [19]:
# Normalizing the rows to be summed to 1:
def normalizing_rows(final_df):
    final_df.iloc[:,:] = Normalizer(norm= 'l1').fit_transform(final_df)
    return final_df

<b> THE MAIN FUNCTION:

In [20]:
def main(df_250, final_mapping, mapper_250_county, dict_county_250):
    df_250 = df_250.copy()
    initial_df_30 = initialize_empty_df(final_mapping)      # Initializing an empty DataFrame to fill along the way - size: 30X30
    df_250.reset_index(inplace= True)
    
    # Merging between the whole df and the mapper
    merged = df_250.merge(mapper_250_county, left_on= 'index', right_on= 'cell_id').drop('cell_id', axis= 1)
    
    # Update the values of the diagonal of the *initial DataFrame!* (== 'initial_df_30')
    update_diagonal(merged, initial_df_30)
    #merged.groupby(by= 'county_id').apply(update_diagonal(initial_df_30))
    
    # Update the values of the rows (without the diagonal) of the *initial DataFrame!* (== 'initial_df_30')
    update_rows(merged, initial_df_30, dict_county_250)  
    
    # Normalizing the rows to be summed to 1:
    final_df = normalizing_rows(initial_df_30.copy())
    
    return final_df

In [21]:
first_configuration_test  = main(shahafs_pickle[('no_work', 0)], final_mapping, mapper_250_county, dict_county_250)

In [22]:
# The final dictionary to output
final_dict_to_pickle = {}
for key in shahafs_pickle.keys():
    final_dict_to_pickle[key] = main(shahafs_pickle[key], final_mapping, mapper_250_county, dict_county_250)

In [23]:
with open('mat_macro_model_df_30.pickle', 'wb') as handle:
    pickle.dump(final_dict_to_pickle, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [24]:
with open('mat_macro_model_df_30.pickle', 'rb') as handle:
    yotams_pickle = pickle.load(handle)