In [1]:
import pandas as pd
sick20cel = pd.read_csv('../Data/sick/positive_prop_region_2703.csv')
sick20cel

   sub_district_id  cases_prop
0               11    0.137496
1    11_betshemesh    0.012624
2               21    0.010918
3               22    0.006482
4               23    0.037189
5               24    0.018083
6               29    0.003412
7               31    0.032753
8               32    0.013306
9               41    0.038895
10              42    0.107472
11              43    0.051518
12              44    0.063460
13          51_tlv    0.071989
14              51    0.099284
15           51_bb    0.091095
16              61    0.067554
17              62    0.050836
18         62_arab    0.001706
19              71    0.083930

In [2]:
taz2cell20 = pd.read_excel('../Data/division_choice/20/taz2cell.xlsx')

In [7]:
taz2cell20['cell_id'].isna().sum()

0

In [4]:
taz2cell20 = taz2cell20.merge(sick20cel, right_on='sub_district_id', left_on='cell_id')

In [8]:
taz2cell20.set_index('taz_id', inplace=True)

In [10]:
taz2cell20.drop(['sub_district_id','cell_id'], axis=1, inplace=True)

In [12]:
taz2cell20.sort_index(inplace=True)

In [13]:
taz2cell20

        cases_prop
taz_id
1         0.099284
2         0.099284
3         0.099284
4         0.099284
5         0.099284
...            ...
2626      0.001706
2627      0.001706
2628      0.001706
2629      0.050836
2630      0.050836

[2630 rows x 1 columns]

In [14]:
taz2cell20.to_csv('../Data/sick/taz2sick.csv')