In [3]:
import numpy as np
import pandas as pd
import pickle

In [25]:
sick_prop = pd.read_csv('../Data/sick/taz2sick.csv')
sick_prop.head()

   taz_id  cases_prop
0       1    0.099284
1       2    0.099284
2       3    0.099284
3       4    0.099284
4       5    0.099284

In [30]:
county_taz = pd.read_excel('../Data/division_choice/20/taz2cell.xlsx')
county_taz

      taz_id  cell_id
0          1       43
1          2   51_tlv
2          3   51_tlv
3          4   51_tlv
4          5   51_tlv
...      ...      ...
2625    2626  62_arab
2626    2627  62_arab
2627    2628  62_arab
2628    2629       62
2629    2630       62

[2630 rows x 2 columns]

In [34]:
county_taz_num = county_taz.groupby('cell_id', as_index=False).count()
county_taz_num.columns = ['cell_id','taz_count']
county_taz_num

          cell_id  taz_count
0              11        299
1              21         39
2              22         33
3              23        115
4              24        173
5              29         11
6              31        222
7              32         94
8              41        124
9              42        226
10             43        111
11             44        172
12             51        219
13             61        124
14             62        171
15             71        274
16  11_betshemesh         49
17          51_bb         21
18         51_tlv        134
19        62_arab         19

In [35]:
county_taz_merge = county_taz.merge(county_taz_num, on='cell_id')
county_taz_merge

      taz_id  cell_id  taz_count
0          1       43        111
1        460       43        111
2        461       43        111
3        462       43        111
4        463       43        111
...      ...      ...        ...
2625    2562  62_arab         19
2626    2563  62_arab         19
2627    2626  62_arab         19
2628    2627  62_arab         19
2629    2628  62_arab         19

[2630 rows x 3 columns]

In [37]:
sick_prop_merged = sick_prop.merge(county_taz_merge[['taz_id','taz_count']].copy(), on='taz_id')
sick_prop_merged

      taz_id  cases_prop  taz_count
0          1    0.099284        111
1          2    0.099284        134
2          3    0.099284        134
3          4    0.099284        134
4          5    0.099284        134
...      ...         ...        ...
2625    2626    0.001706         19
2626    2627    0.001706         19
2627    2628    0.001706         19
2628    2629    0.050836        171
2629    2630    0.050836        171

[2630 rows x 3 columns]

In [38]:
sick_prop_merged['cases_prop'] = sick_prop_merged.cases_prop / sick_prop_merged.taz_count

In [40]:
sick_prop_merged.sum()

taz_id        3.459765e+06
cases_prop    1.000430e+00
taz_count     4.905760e+05
dtype: float64

In [41]:
sick_prop_merged[['taz_id','cases_prop']].to_csv('../Data/sick/taz2sick.csv')

In [45]:
with open('../Data/parameters/eps_by_region.pickle', 'rb') as pickle_in:
	 eps_check = pickle.load(pickle_in)

In [46]:
count = 0
for i in range (18):
    count += eps_check['Scenario1'][i].sum()
    print(eps_check['Scenario1'][i].sum()*9136000)

0.8272894193686878
3.1121833522890716
6.184971152938216
9.021392509775712
12.724497121114844
18.515521340188677
25.80354562445414
35.02191074290855
44.43725018654865
42.15235625362826
80.207660962053
98.56560352869593
121.69030656985835
151.98485067338035
182.63394787563385
231.75916914992908
290.53609974469003
361.3284212631029

In [48]:
count*9136000

1716.5069774705582